* {
    margin: 0;
    padding: 0;
}

header {
    box-shadow: 0 0 1px 1px black;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: blue;
}

header h1 {
    letter-spacing: 2px;
}

.container {
    height: auto;
    justify-content: center;
    border: 1px solid black;
    margin: 10px;
}

.logo {
    left: 0;
}

img {
    width: 75px;
    height: 75px;
}
div .task-input{
  bottom: 100px;
    float: right;
}